.container {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.file-input-container {
  display: flex;
  gap: 1rem;
}

.candidate-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  mat-form-field {
    width: 100%;
  }
}

table {
  width: 100%;
}
